/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    max-width: 1210px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ecf8f8;
}

.mat-menu-panel.drop-menu {
    background-color: #3cacad;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.mat-spinner circle {
    stroke: #3cacad;
  }